
.product-details-container{
    /* margin: auto 20px; */
    margin:40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-heading{
    color: #1a1b25;
}
h1{
    font-size:x-large;
}

.desc{
    text-align: justify;
    text-justify: inter-word;
}

.stock{
    color: crimson;
    font-size: large;
    font-weight: bold;
}

.details{
    display: flex;
    flex-direction: column;
    color: #292828;
}
.dark .details{
    color: #ffffff;
}
 
.star-color{
    color: 	#FFD700;
}
.back-arrow{
    width: 100%;
    color: #292828;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.dark .back-arrow{
    color: #ffffff;
}

.tags-avail{
    display: flex;
    justify-content: center;
}

.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height:25px;
    width:80px;
    margin:0px 8px;
    color: #292828;
    background-color:#8ba86f85;
}

.dark .badge {
    color: #ffffff;
    background-color:#b1ffd485;
}