.btn {
    color: #fff;
    background-color: #FF8383;
    background-color: #3a395ab7;
    background-color: #5dd39e;
    border-style: none;
    width: 280px;
    height: 45px;
    margin: 8px;
    font-size: medium;
}

.btn:hover{
    background-color: #5dd39eb7;
}