.cart-item-container{
    list-style: none;
    background-color: #8ba86f85;
    width: 400px;
    height: 300px;
    margin: 10px;
}
img{
    width:200px;
}
.prod-heading{
    font-size:large;
    margin: 1px;
    text-align: center;
    text-justify: inter-word;
    padding: 0px;
    color: #1a1b25;
     /* trailer class  */
    overflow: hidden;
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1; 
}
.price{
    font-size: large;
    font-weight: bold;
    color: #1a1b25;
}

.cart-btn{
    border-style: none;
    /* width: 40px; */
    height: 40px;
    border-radius: 5px;
    background-color:#adf16e ;
    color: #1a1b25;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.cart-btn:hover{
    background-color:#8ba86f85;
}


/* .dark .product-details{
    color: #ffffffde;
}

.dark .heading{
    color: #ffffffde;
}

.dark .price{
    color: #ffffffde;
} */