.footer-container{
display:flex;
justify-content:center;
align-items:center;
height:50px;
background-color:#5dd39e;
}

.dark .footer-container{
    background-color: #333333;
}
.para{
    color:#3a395a;
    font-weight:900px;
}

.dark .para{
    color:#5dd39e;
}