.header-container{
    position: sticky;
    top: 0;  
    z-index: 1000;  
    display:flex;
    justify-content: center;
    /* align-items: center; */
    width:100%;
    /* height: 10px; */
    border-radius: 5px;
    /* margin: 10px 20px; */
    padding: 40px;
    /* padding:10px 20px; */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}
.icons-container{
    display: flex;  
    align-items: center;  
    justify-content: center; 
    /* margin-left: 100px; */
}
.icons{
    font-size: large;
    margin: 0 0 0 1rem;
    padding: 10px;
    border-radius: 5px;
    color:#b9ff5e;
    cursor: pointer;
    background-color: #86858f55;
    display: flex;
}
/* dark theme  */
.dark .icons {
    background-color: #333333;
    color:#ffffff;

}
.icon{
     margin:2px 0 0 2px;
}
.rounded-container-style{
    display: flex;
    color:#3a395a;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #35795a60;
    margin: 0px  2px;
}
.rounded-container-style:hover{
    color:#141414;
    background-color: #35795a7a; 
}

/* dark theme */

.dark .rounded-container-style{
    background-color: rgb(0, 0, 0);
    color:#b9ff5e;
}
.dark .rounded-container-style:hover{
    /* background-color: #676868; */
    background-color: #b9ff5e;
    color:#141414;
}