.sidebar-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
}
.a{
    color: #292828;
    text-decoration:none;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.a:hover{
    color:#e65d5d;
}
.logout{
     display: flex;
     align-items:center;
     color: #292828;
     font-size: large;
     cursor: pointer;
     padding: 0px 10px;
}
.logout:hover{
    color:#e65d5d;;
}
/* darktheme */
.dark .logout{ 
    color: #525252;
}
.dark .logout:hover{
    color:#b9ff5e;  
}

.dark .a{
    color: #525252;
}

.dark .a:hover{
    color:#b9ff5e;
}