.sidebar-container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    /* width: 180px; Default width */
}
.a.sidebar-item{
    color: #292828;
    text-decoration:none;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.a:hover{
    color:#e65d5d;
}
.logout.sidebar-item{
     display: flex;
     align-items:center;
     color: #292828;
     font-size: large;
     cursor: pointer;
     padding: 0px 10px;
}
.logout:hover{
    color:#e65d5d;;
}
/* darktheme */
.dark .logout{ 
    color: #525252;
}
.dark .logout:hover{
    color:#b9ff5e;  
}

.dark .a{
    color: #525252;
}

.dark .a:hover{
    color:#b9ff5e;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
  }
  
  .sidebar-container.shrunk {
    width: 70px; /* Shrink to icon size */
    
  }
  
  .sidebar-container.shrunk .sidebar-text {
    display: none; /* Hide text when shrunk */
  }